.row
{
	display: 					flex;
	justify-content: 		center;
}
.column2
{
	display: 					flex;
	flex-flow: 				column wrap;
	width: 						30%;
}
 .login
{
	padding: 					15px 15px 30px 15px ;
	background-color: 	#ffffff;												 /*0000b3*/
	color:  						white;
	display: 					flex;
	flex-flow: 				column;
	text-align: 				center;	
	align-items: 			center;	
}
label
{
	display: 					flex;
	padding: 					10px 30px 10px 30px; 						/*top right bottom left*/	
	border-style: 			outset;
	border-radius: 		5px;	
	flex-direction: 			row;
	justify-content: 		space-around;
	width: 						85%;
	float: 						center;
	background-color: 	#f2f2f2;
	color: 						black;
}
.login_frame
{
	border: 					1px solid black;
	padding: 					10px 25px 10px 30px; 						/*top right bottom left*/
	background-color: 	#696969; 											/*#00008b;*/
	border-style: 			outset;
	border-radius: 		5px;
	box-shadow: 			4px 4px 5px black;
}
.white
{
		color: 					white;
}
input[type=submit] 
{
  background-color: 	#f2f2f2;
  color: 						black;
  padding: 					10px 10px;
  margin: 						8px 0;
  border-radius: 			4px;
  cursor: 						pointer;
  box-shadow: 				4px 4px 5px black;
  font-size: 			   		18px;  
}